.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  color: #24335a;
}

.resources-buttons {
  min-width: 80%;
  margin-top: 6rem;
  padding: 1.5% 0;

  border-radius: 7px;
  border: 1px solid #cacaca;

  background-color: #e9e9e980;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.resources-buttons div {
  display: flex;
  justify-content: space-evenly;
}

.resources-buttons button {
  min-width: 15%;
  max-width: 15%;
  padding: 1.5%;

  color: #f8f8f2;
  background-color: #485bc5;

  border: none;
  border-radius: 7px;

  cursor: pointer;
}

.resources-buttons button:hover {
  background-color: #345096;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.resources-box {
  display: flex;
  justify-content: center;
  height: 65vh;
  min-width: 80%;
  margin: 1rem 0;
  padding: 1.5% 0;

  background-color: rgb(245 245 245);


  border-radius: 3px;
  border: 1px solid #cacaca;
}

/* Recurso drag and drop */
#draggable {
  width: 30%;
  height: 30%;
  padding: 1%;
  float: left;
  margin: 10px 10px 10px 0;

  color: #f8f8f2;
  background-color: #757fbd;

  cursor: pointer;
}

#droppable {
  width: 40%;
  height: 40%;
  float: left;
  margin: 10px;
}

/* Recurso sortable */
#sortable {
  list-style-type: none;
  width: 15rem;
}

#sortable li {
  padding: 3% 0;
  text-align: center;
  font-size: 18px;

  height: 3rem;
  margin-bottom: 2%;

  cursor: pointer;
}

#sortable li:active {
  background-color: #45738890;
}

/* Recurso carousel */
.slick-prev.slick-arrow:before, .slick-next.slick-arrow:before{
  color: #1f2066;
}

.carousel {
  margin: 0 auto;
  height: 320px;
  width: 320px;
}

.carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Recurso tabs */
#tabs {
  width: 600px;
}

/* Recurso accordion */
#accordion {
  width: 600px;
}
