@charset "UTF-8";

.result{
  padding-top:80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;

  min-height: 100vh;
}

.restart {
  height: 2.7rem;
  width: 15%;
  margin: 3% 0;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.restart:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 45%;

  border: 1px solid #f1f1f1;
}

thead {
  background-color: blue;
  color: white;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

.you {
  animation: youani 1.5s infinite;
}

@keyframes youani {
  0% {
    background-color: white;
  }
  50% {
    background-color: #2fd4a350;
    /* color: white; */
  }
  100% {
    background-color: white;
  }
}

@media screen and (max-width: 700px) {
  table {
    width: 90%;
  }
}
