@charset "UTF-8";

.result{
  padding-top:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.restart{
  height: 2.7rem;
  width: 100px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 30%;
  margin-bottom: 1%;

  border: 1px solid #f1f1f1;
}

thead {
  background-color: blue;
  color: white;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

.you {
  animation: youani 1.5s infinite;
}

@keyframes youani {
  0% {
    background-color: white;
  }
  50% {
    background-color: #2fd4a350;
    /* color: white; */
  }
  100% {
    background-color: white;
  }
}
