@charset "UTF-8";

.result{
  padding-top:80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;

  min-height: 100vh;
}

.restart {
  height: 2.7rem;
  width: 15%;
  margin: 3% 0;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.restart:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 45%;

  border: 1px solid #f1f1f1;
}

thead {
  background-color: blue;
  color: white;
}

th,
td {
  text-align: center;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #f1f1f1;
}

.you {
  animation: youani 1.5s infinite;
}

@keyframes youani {
  0% {
    background-color: white;
  }
  50% {
    background-color: #2fd4a350;
    /* color: white; */
  }
  100% {
    background-color: white;
  }
}

.box {
  width: 604px;
  height: 41px;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #ffffff 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px; 
  display: flex;
  position: absolute;
  opacity: 0.35;
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  }


@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}


@media screen and (max-width: 700px) {
  table {
    width: 90%;
  }

  .restart {
    width: 40%;
    margin: 10% 0 0;
  }
}
