<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jquery - Jogar</title>
    <script src="../jquery/jquery-3.6.2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/formstyle.css" />
</head>

<body>
    <header>
        <a href="../../index.html" class="logo">
            <img src="../img/jquery-horizontal.svg">
        </a>

        <nav id="nav">
            <button aria-label="abrir menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false">
                <span id="hamburguer"></span>
            </button>

            <ul id="menu" role="menu">
                <li><a href="../../index.html">Home </a> </li>
                <li><a href="#">Quiz </a> </li>
                <li><a href="#">Pagina3 </a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <div class="wrapper">
                <div class="form">
                    <h3>Digite seu nome</h3>
                    <form>
                        <label>nickname</label>
                        <input placeholder="nickname" type="text" name="nickname" id="nickname" required>
                    </form>
                    <button onclick="getUser()">Jogar</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <p>Desenvolvido por Alexandre, João Victor, João Leite, Harisson, Davidson</p>
            <a href="https://github.com/Joao-vls/jquery_quizz" target="_blank">Link do repositório
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>
    <script src="../js/script.js"></script>
    <script>
        function getUser() {
            const name = $("#nickname").val();
            const data = {
                            id: 4,
                            name: name,
                            score: 50
                        }
            $.post("http://localhost:5000/users", data)
            /* fetch("http://localhost:5000/users", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
                })
            .then((response) => response.json())
            .then((data) => {
                console.log("Success:", data);
            })
            .catch((error) => {
                console.error("Error:", error);
            });
            console.log(JSON.stringify(data))

            /* fetch("http://localhost:5000/users")
                .then((res) => {
                    return res.json()
                })
                .then((data) => {
                    console.log(data)
                }) */
                
        }
    </script>
</body>

</html>