<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../jquery/jquery-3.6.2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/formstyle.css" />

    <title>jQuerry Quizz - Jogar</title>
</head>

<body>
    <header></header>

    <main>
        <section>
            <div class="wrapper">
                <div class="form">
                    <h3>Digite seu nome</h3>
                    <form>
                        <label>nickname</label>
                        <input placeholder="nickname" type="text" name="nickname" id="nickname" required>
                    </form>
                    <button id="play_quizz">Jogar</button>
                </div>
            </div>
        </section>
    </main>

    <footer></footer>

    <script src="../js/templates.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/form.js"></script>
</body>

</html>
