<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/quizz.css" />
    <link rel="stylesheet" href="../jquery/jquery-ui.min.css" />

    <script src="../jquery/jquery-3.6.2.js"></script>
    <script src="../jquery/jquery-ui.min.js"></script>

    <title>jQuerry Quizz - Jogando...</title>
  </head>

  <body>
    <header></header>

    <main>
      <section class="content">
        <h1>Pergunta de número <span id="number-of-question">0</span>:</h1>
        <div class="question">
          <div class="button">
      			<button id="next_question">Próxima questão</button>
      		</div>
        </div>


      </section>

      <section>
        <div class="result"></div>
      </section>
    </main>

    <footer></footer>

    <script src="../js/templates.js"></script>
    <script src="../js/questions.js"></script>

    <script src="../js/script.js"></script>
  </body>
</html>
