<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/resources.css" />
    <link rel="stylesheet" href="../jquery/jquery-ui.min.css" />

    <script src="../jquery/jquery-3.6.2.js"></script>
    <script src="../jquery/jquery-ui.min.js"></script>

    <style>
      
      
    </style>

    <title>jQuerry Quizz - Recursos do jQuerry</title>
  </head>

  <body>
    <header></header>

    <main class="container">
      <section class="resources-buttons">
        <div>
          <button id="drop-drag">recurso 1</button>
          <button id="carousel">recurso 2</button>
          <button>recurso 3</button>
          <button>recurso 4</button>
          <button>recurso 5</button>
        </div>
      </section>

      <section class="resources-box">
        <div id="resource">
          
        </div>
      </section>
    </main>

    <footer></footer>

    <script src="../js/script.js"></script>
    <script src="../js/resources.js"></script>

    <script src="../js/templates.js"></script>
  </body>
</html>
